.general.user-scors-container {
  margin: 10px 0;
}

.personal.user-scors-container {
  margin: 0;
}
.deactivated
{
  opacity:0.4;
}
.general .user-scors-details {
  border: 1px solid white;
  min-width: 85rem;
  background-color: rgba(0,0,0,0.5)
}

.user-scors-container.general.current-user .user-scors-details{
  background-color: rgba(17, 98, 155, 0.5) ;
}

.personal .user-scors-details {
  min-width: 85rem;
}

.general.user-scors-container .user-profil {
  justify-content: center;
  margin: 0 10px;
  min-width: 20rem;
}

.personal.user-scors-container .user-profil {
  justify-content: center;
  border-bottom: 1px solid white;
  min-width: 25rem;
  max-width: 25rem;
  padding: 10px;
  text-align: center;
  /* background-image: url('../../../../../assets/images/backgrounds/meetup_bg_02_05.png'); */
  background-size: cover;
}
.personal.user-scors-container .user-profil img {
  height: 50%;
  width: 50%;
}

.user-scors-container .user-profil .user-link {
  display: inline-flex;
  justify-content: center;
}

.user-scors-container .user-profil img {
  width: 100px;
  margin: 10px;
  align-self: center;
}

.badges {
  border-right: 1px solid white;
  padding: 10px;
  min-width: 25rem;

}

.personal .badges, .personal .pets {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 0;
  padding: 10px;
}
.trophy-val {
  position: absolute;
  top: 15%;
  left: 30%;
  min-width:3rem;
  text-align: center;
  /* transform: translate(-50%, -50%); */
}
.trophy-img, .pet-img {
  width: 8rem;
  height:8rem;
}
.personal-detail{
  text-align:center;
}
.badges label.personal-detail {
  margin-bottom: 0.5rem;
  text-align:left;
}

.recommended-by {
  text-align:center;
  font-size: 1.2rem;
}
.pets {
  padding: 10px;
}

.pets img {
  width: 10rem;
  height: 10rem;
  /* margin: 1rem; */
}

.interface-title {
  white-space: nowrap;
  margin-right: 10px;
}
